.root {
    -fx-font-family: "System";
    -fx-background-image: url('../imagenes/Fondo_Menu.jpg');
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

/* MENU */
.menu-bar {
    -fx-background-color: white;
    -fx-border-color: #e6e7ee;
    -fx-border-width: 0 0 1 0;
}

/* CARD */
.card {
    -fx-background-color: white;
    -fx-background-radius: 16;
    -fx-border-color: #e6e7ee;
    -fx-border-radius: 16;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.10), 16, 0.15, 0, 2);
}

.ice-card {
    -fx-background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgba(173, 216, 230, 0.4));
    -fx-background-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.7);
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 4);
}

/* TITLES */
.title {
    -fx-font-size: 26px;
    -fx-font-weight: 800;
    -fx-text-fill: #1f2330;
    -fx-alignment: center;
}

.subtitle {
    -fx-font-size: 13px;
    -fx-opacity: 0.65;
}

/* FIELDS */
.field-label {
    -fx-font-size: 12px;
    -fx-opacity: 0.75;
    -fx-font-weight: bold;
}

.field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #e6e7ee;
    -fx-background-color: #fbfbfe;
    -fx-padding: 10 12;
}

/* BUTTONS */
.button {
    -fx-background-radius: 0;
    -fx-padding: 5 10;
    -fx-cursor: hand;
    -fx-background-image: url('../imagenes/botones_menu.png');
    -fx-background-size: 300% 300%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 3, 0.5, 0, 1);
}

.button:hover {
    -fx-opacity: 0.85;
}

.button.primary {
    -fx-background-image: url('../imagenes/botones_menu.png');
    -fx-background-size: 300% 300%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 3, 0.5, 0, 1);
}

.button.primary:hover {
    -fx-opacity: 0.85;
}

/* Hint */
.hint {
    -fx-font-size: 12px;
    -fx-opacity: 0.6;
}